@font-face {
  font-family: 'Font-Bayu-Media-Busana-Light';
  src:  url('fonts/Font-Bayu-Media-Busana-Light.eot?54lk76');
  src:  url('fonts/Font-Bayu-Media-Busana-Light.eot?54lk76#iefix') format('embedded-opentype'),
    url('fonts/Font-Bayu-Media-Busana-Light.ttf?54lk76') format('truetype'),
    url('fonts/Font-Bayu-Media-Busana-Light.woff?54lk76') format('woff'),
    url('fonts/Font-Bayu-Media-Busana-Light.svg?54lk76#Font-Bayu-Media-Busana-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
.bm{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}.bm-lg{font-size:1.33333em;line-height:.75em;vertical-align:-.0667em}.bm-xs{font-size:.75em}.bm-sm{font-size:.875em}.bm-1x{font-size:1em}.bm-2x{font-size:2em}.bm-3x{font-size:3em}.bm-4x{font-size:4em}.bm-5x{font-size:5em}.bm-6x{font-size:6em}.bm-7x{font-size:7em}.bm-8x{font-size:8em}.bm-9x{font-size:9em}.bm-10x{font-size:10em}.bm-fw{text-align:center;width:1.25em}.bm-ul{list-style-type:none;margin-left:2.5em;padding-left:0}.bm-ul>li{position:relative}.bm-li{left:-2em;position:absolute;text-align:center;width:2em;line-height:inherit}.bm-border{border:.08em solid #eee;border-radius:.1em;padding:.2em .25em .15em}.bm-pull-left{float:left}.bm-pull-right{float:right}.fa.bm-pull-left,.fab.bm-pull-left,.fal.bm-pull-left,.far.bm-pull-left,.fas.bm-pull-left{margin-right:.3em}.fa.bm-pull-right,.fab.bm-pull-right,.fal.bm-pull-right,.far.bm-pull-right,.fas.bm-pull-right{margin-left:.3em}.bm-spin{animation:bm-spin 2s infinite linear}.bm-pulse{animation:bm-spin 1s infinite steps(8)}@keyframes bm-spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}.bm-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";transform:rotate(90deg)}.bm-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";transform:rotate(180deg)}.bm-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";transform:rotate(270deg)}.bm-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";transform:scaleX(-1)}.bm-flip-vertical{transform:scaleY(-1)}.bm-flip-horizontal.bm-flip-vertical,.bm-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"}.bm-flip-horizontal.bm-flip-vertical{transform:scale(-1)}:root .bm-flip-horizontal,:root .bm-flip-vertical,:root .bm-rotate-90,:root .bm-rotate-180,:root .bm-rotate-270{filter:none}.bm-stack{display:inline-block;height:2em;line-height:2em;position:relative;vertical-align:middle;width:2.5em}.bm-stack-1x,.bm-stack-2x{left:0;position:absolute;text-align:center;width:100%}.bm-stack-1x{line-height:inherit}.bm-stack-2x{font-size:2em}.bm-inverse{color:#fff}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Font-Bayu-Media-Busana-Light' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bml-text-blibli:before {
  content: "\e900";
}
.bml-text-bukalapak:before {
  content: "\e901";
}
.bml-text-elevenia:before {
  content: "\e902";
}
.bml-text-facebook-marketplace:before {
  content: "\e903";
}
.bml-text-lazada:before {
  content: "\e904";
}
.bml-text-shopee:before {
  content: "\e905";
}
.bml-text-tokopedia:before {
  content: "\e906";
}
.bml-logo-blibli:before {
  content: "\e907";
}
.bml-logo-bukalapak:before {
  content: "\e908";
}
.bml-logo-elevenia:before {
  content: "\e909";
}
.bml-logo-facebook-marketplace1:before {
  content: "\e90a";
}
.bml-logo-facebook-marketplace2:before {
  content: "\e90b";
}
.bml-logo-lazada:before {
  content: "\e90c";
}
.bml-logo-shopee:before {
  content: "\e90d";
}
.bml-logo-tokopedia:before {
  content: "\e90e";
}
.bml-blibli:before {
  content: "\e90f";
}
.bml-bukalapak:before {
  content: "\e910";
}
.bml-elevenia:before {
  content: "\e911";
}
.bml-facebook-marketplace:before {
  content: "\e912";
}
.bml-lazada:before {
  content: "\e913";
}
.bml-shopee:before {
  content: "\e914";
}
.bml-tokopedia:before {
  content: "\e915";
}
.bml-baju-anak-laki-laki:before {
  content: "\e916";
}
.bml-baju-anak-perempuan:before {
  content: "\e917";
}
.bml-baju-laki-laki:before {
  content: "\e918";
}
.bml-baju-muslim-anak-laki-laki:before {
  content: "\e919";
}
.bml-baju-muslim-anak-perempuan:before {
  content: "\e91a";
}
.bml-baju-muslim-laki-laki:before {
  content: "\e91b";
}
.bml-baju-muslim-wanita:before {
  content: "\e91c";
}
.bml-baju-wanita:before {
  content: "\e91d";
}
.bml-batik-laki-laki:before {
  content: "\e91e";
}
.bml-batik-wanita:before {
  content: "\e91f";
}
.bml-alarm-cepat:before {
  content: "\e920";
}
.bml-arah-atas:before {
  content: "\e921";
}
.bml-bantuan1:before {
  content: "\e922";
}
.bml-barcode:before {
  content: "\e96b";
}
.bml-bendera:before {
  content: "\e923";
}
.bml-bintang:before {
  content: "\e924";
}
.bml-blog:before {
  content: "\e953";
}
.bml-blogger-b:before {
  content: "\e925";
}
.bml-blogger-bulat:before {
  content: "\e926";
}
.bml-box:before {
  content: "\e927";
}
.bml-cara-order:before {
  content: "\e957";
}
.bml-cari:before {
  content: "\e928";
}
.bml-cart:before {
  content: "\e929";
}
.bml-ceklis:before {
  content: "\e92a";
}
.bml-deskripsi-produk:before {
  content: "\e92b";
}
.bml-diskusi-produk:before {
  content: "\e92c";
}
.bml-ember:before {
  content: "\e92d";
}
.bml-facebook-bulat:before {
  content: "\e92e";
}
.bml-facebook-f:before {
  content: "\e92f";
}
.bml-facebook-messenger:before {
  content: "\e930";
}
.bml-file-ceklis:before {
  content: "\e958";
}
.bml-google-plus:before {
  content: "\e931";
}
.bml-google-plus-bulat:before {
  content: "\e932";
}
.bml-id-card:before {
  content: "\e954";
}
.bml-info-bulat1:before {
  content: "\e933";
}
.bml-info-bulat2:before {
  content: "\e934";
}
.bml-kategori:before {
  content: "\e935";
}
.bml-kg:before {
  content: "\e959";
}
.bml-keranjang-belanja:before {
  content: "\e95b";
}
.bml-komentar:before {
  content: "\e936";
}
.bml-lokasi:before {
  content: "\e937";
}
.bml-love:before {
  content: "\e938";
}
.bml-mahkota:before {
  content: "\e939";
}
.bml-mata:before {
  content: "\e93a";
}
.bml-menu:before {
  content: "\e93b";
}
.bml-minus:before {
  content: "\e93c";
}
.bml-minus-bulat:before {
  content: "\e93d";
}
.bml-mobil-box:before {
  content: "\e93e";
}
.bml-notifikasi:before {
  content: "\e93f";
}
.bml-ok-jempol:before {
  content: "\e940";
}
.bml-palette:before {
  content: "\e95a";
}
.bml-os-ceklis:before {
  content: "\e941";
}
.bml-pelindung-ceklis:before {
  content: "\e942";
}
.bml-pelindung-re:before {
  content: "\e943";
}
.bml-plus:before {
  content: "\e944";
}
.bml-plus-bulat:before {
  content: "\e945";
}
.bml-promo:before {
  content: "\e946";
}
.bml-tap:before {
  content: "\e955";
}
.bml-timbangan-digital:before {
  content: "\e956";
}
.bml-share:before {
  content: "\e947";
}
.bml-spesifikasi-produk:before {
  content: "\e948";
}
.bml-tag:before {
  content: "\e949";
}
.bml-toko:before {
  content: "\e94a";
}
.bml-tutup:before {
  content: "\e94b";
}
.bml-twitter:before {
  content: "\e94c";
}
.bml-twitter-bulat:before {
  content: "\e94d";
}
.bml-ulasan-produk:before {
  content: "\e94e";
}
.bml-waktu:before {
  content: "\e94f";
}
.bml-waktu-pasir:before {
  content: "\e950";
}
.bml-whatsapp:before {
  content: "\e951";
}
.bml-x-bulat:before {
  content: "\e952";
}
